<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Experience Column -->
  <ng-container matColumnDef="experience">
    <th mat-header-cell *matHeaderCellDef> Experience </th>
    <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
  </ng-container>

  <!-- company Column -->
  <ng-container matColumnDef="companyname">
    <th mat-header-cell *matHeaderCellDef> Company </th>
    <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
  </ng-container>

  <!-- location Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <!-- skill Column -->
  <ng-container matColumnDef="skill">
    <th mat-header-cell *matHeaderCellDef> skills </th>
    <td mat-cell *matCellDef="let element"> {{element.skill}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
